%h1
  = t('new-entry.page-title')
%h2
  = entry_title_format(DateTime.now)

= form_for @entry, :url => user_entries_path(current_user, @entry) do |e|
  = e.text_area :body_text
  %button{ :type => 'submit', :class => 'submit pure-button pure-button-primary' }
    = t('new-entry.submit-form')