= form_tag authenticate_path, :class => 'pure-form pure-form-stacked' do

  %legend
    = t('login.form-title')

  - if flash[:invalid_login]
    %div{ :class => 'error_messages'}
      %ul
        %li
          = flash[:invalid_login]

  = label_tag :email, t('login.field-email')
  = text_field_tag :email, params[:email]

  = label_tag :password, t('login.field-password')
  = password_field_tag :password

  %button{ :type => 'submit', :class => 'submit pure-button pure-button-primary' }
    = t('login.submit-form')
