%h1
  = t('home.main-title')
%h2
  = t('home.sub-title')

%div.button_container
- if current_user

  = link_to t('home.new'), new_user_entry_path(current_user), :class => 'pure-button pure-button-primary'
  - if current_user.entries.any?
    = link_to t('home.recent'), user_entries_recent_path(current_user), :class => 'pure-button pure-button-primary'
  - if current_user.entries.size > 1
    = link_to t('home.random'), user_entries_random_path(current_user), :class => 'pure-button pure-button-primary'

- else

  = link_to t('home.what'), what_path, :class => 'pure-button pure-button-primary'
  = link_to t('home.login'), login_path, :class => 'pure-button pure-button-primary'
  = link_to t('home.sign-up'), signup_path, :class => 'pure-button pure-button-primary'