- form_style = { :class => 'pure-form pure-form-stacked' }
= form_for @user_session, :url => user_sessions_path, :html => form_style do |f|

  %legend
    = t('login.form-title')

  - if flash[:invalid_login]
    %div{ :class => 'error_messages'}
      %ul
        %li
          = flash[:invalid_login]

  = f.label :login
  = f.text_field :login

  = f.label :password, t('login.field-password')
  = f.password_field :password

  %button{ :type => 'submit', :class => 'submit pure-button pure-button-primary' }
    = t('login.submit-form')
