!!!

%html

  %head

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"

    %title
      = @page_title or t('application.base-title')

  %body
    = yield :body